{% import 'shelf-admin/layout.html' as layout with context -%}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% if admin_view.category %}{{ admin_view.category }} - {% endif %}{{ admin_view.name }} - {{ admin_view.admin.name }}{% endblock %}</title>
   {% block head_meta %}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
  {% endblock %}
  {% block head_css %}
      <link href="{{ url_for('shelf.static', filename='shelf-admin/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
      <link href="{{ url_for('shelf.static', filename='shelf-admin/css/shelf.css') }}" rel="stylesheet">
  {% endblock %}
  {% block head %}
  {% endblock %}
  {% block head_tail %}
  {% endblock %}     
  </head>

  <body>
    <div id="wrap">
      {% block page_body %}
      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              {% block brand %}
              <img style="height: 38px" src="{{ url_for('shelf.static', filename='shelf-admin/img/shelf_logo.png') }}" />
              {% endblock %}
            </a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              {{ layout.menu() }}
              {#<li class="active"><a href="#">Dashboard</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contenu <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Pages</li>
                  <li><a href="form.html">Crédits</a></li>
                  <li><a href="form.html">Mentions légales</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Produits</li>
                  <li><a href="liste.html">Collections</a></li>
                  <li><a href="liste.html">Références</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Revendeurs</li>
                  <li><a href="liste.html">Revendeurs</a></li>
                  <li><a href="liste.html">Zones géographiques</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Site</li>
                  <li><a href="liste.html">Actualités</a></li>
                  <li><a href="liste.html">Brochures</a></li>
                  <li><a href="liste.html">Dossiers de presse</a></li>
                  <li><a href="liste.html">Histoires</a></li>
                  <li><a href="liste.html">Megaslider</a></li>
                  <li><a href="liste.html">Newsletters</a></li>
                  <li><a href="liste.html">Presses</a></li>
                  <li><a href="liste.html">Réalisations</a></li>
                  <li><a href="liste.html">Salons</a></li>
                  <li><a href="liste.html">Showrooms</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Univers</li>
                  <li><a href="liste.html">Caractéristiques</a></li>
                  <li><a href="liste.html">Contenu</a></li>
                </ul>
              </li>#}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {{ layout.menu_links() }}
              {#<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Utilisateurs <b class="caret"></b></a>
                <ul class="dropdown-menu pull-right">
                  <li class="dropdown-header">Bonjour, David</li>
                  <li><a href="#">Gérer les utilisateurs</a></li>
                  <li><a href="#">Déconnexion</a></li>
                </ul>
              </li>
              <li><a href="#">Paramètres</a></li>#}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      {% endblock %}
      </div> {# /wrap #}

      <!-- Begin page content -->
      <div class="container">
        {% block body %}{% endblock %}
      </div>

      {{ layout.messages() }}
      {% block bottom %}
      {% endblock %}



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('shelf.static', filename='shelf-admin/js/bootstrap.min.js') }}"></script>
    
    {% block tail %}
    {% endblock %}
  </body>
</html>