<div class="file-widget">
	<div class="input-group">
		<input class="form-control" type="text" id="{{ id }}" name="{{ id }}" value="{{ value }}">
		<span class="input-group-btn">
        	<button class="btn btn-default modal-open" type="button">Choisir fichier</button>
      	</span>
	</div>
	<!-- Modal -->
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-lg"></i></button>
					<h3>Choix du fichier source</h3>
				</div>
				<div class="modal-body">
				</div>
				{#<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
					<button class="btn btn-primary chose-file disabled" data-dismiss="modal">Choisir fichier</button>
				</div>#}
			</div>
		</div>
	</div>
</div>