{% macro filter_form() %}
    <form id="filter_form" method="GET" action="{{ return_url }}">
        {%- for i, flt in enumerate(active_filters) -%}
            {% set filter = admin_view._filters[flt[0]] %}
            <div class="row" style="padding-left: 40px; padding-right: 40px; padding-top: 10px; padding-bottom: 10px">
                <a href="javascript:void(0)" class="btn remove-filter col-xs-4" style="text-align: left" title="{{ _gettext('Remove Filter') }}">
                    <span class="close-icon">&times;</span>&nbsp;{{ filters[flt[0]] }}
                </a>
                <select class="filter-op form-control" data-role="select2">
                    {% for op in admin_view._filter_dict[filter.name] %}
                    <option value="{{ op[0] }}"{% if flt[0] == op[0] %} selected="selected"{% endif %}>{{ op[1] }}</option>
                    {% endfor %}
                </select>
                {%- set data = filter_data.get(flt[0]) -%}
                {%- if data -%}
                <select name="flt{{ i }}_{{ flt[0] }}" class="filter-val form-control" data-role="select2">
                    {%- for d in data %}
                    <option value="{{ d[0] }}"{% if flt[1] == d[0] %} selected{% endif %}>{{ d[1] }}</option>
                    {%- endfor %}
                </select>
                {%- else -%}
                    <input name="flt{{ i }}_{{ flt[0] }}" type="text" value="{{ flt[1] or '' }}" class="filter-val form-control"{% if flt[0] in filter_types %} data-role="{{ filter_types[flt[0]] }}"{% endif %}></input>
                {%- endif -%}
            </div>
            
        {% endfor %}
        {#<table class="filters">
            {%- for i, flt in enumerate(active_filters) -%}
            <tr>
                {% set filter = admin_view._filters[flt[0]] %}
                <td>
                    <a href="javascript:void(0)" class="btn remove-filter" title="{{ _gettext('Remove Filter') }}">
                        <span class="close-icon">&times;</span>&nbsp;{{ filters[flt[0]] }}
                    </a>
                </td>
                <td>
                    <select class="filter-op form-control" data-role="select2">
                        {% for op in admin_view._filter_dict[filter.name] %}
                        <option value="{{ op[0] }}"{% if flt[0] == op[0] %} selected="selected"{% endif %}>{{ op[1] }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    {%- set data = filter_data.get(flt[0]) -%}
                    {%- if data -%}
                    <select name="flt{{ i }}_{{ flt[0] }}" class="filter-val form-control" data-role="select2">
                        {%- for d in data %}
                        <option value="{{ d[0] }}"{% if flt[1] == d[0] %} selected{% endif %}>{{ d[1] }}</option>
                        {%- endfor %}
                    </select>
                    {%- else -%}
                        <input name="flt{{ i }}_{{ flt[0] }}" type="text" value="{{ flt[1] or '' }}" class="filter-val form-control"{% if flt[0] in filter_types %} data-role="{{ filter_types[flt[0]] }}"{% endif %}></input>
                    {%- endif -%}
                </td>
            </tr>
            {% endfor %}
        </table>#}
    </form>
    <div class="clearfix"></div>
{% endmacro %}

{% macro search_form(input_class="span2") %}
<form class="navbar-form" method="GET" action="{{ return_url }}">
    {#{% if sort_column is not none %}
    <input type="hidden" name="sort" value="{{ sort_column }}"></input>
    {% endif %}
    {% if sort_desc %}
    <input type="hidden" name="desc" value="{{ sort_desc }}"></input>
    {% endif %}#}
    {% if search %}
    <div class="input-group">
        <input type="text" name="search" value="{{ search }}" class="form-control {{ input_class }}" placeholder="{{ _gettext('Search') }}"></input>
        <span class="input-group-btn">
            <a href="{{ clear_search_url }}" class="clear add-on">
                <i class="icon-remove"></i>
            </a>
        </span>
    </div>
    {% else %}
    <div class="form-group">
        <input type="text" name="search" value="" class="form-control" placeholder="{{ _gettext('Search') }}"></input>
    </div>
    {% endif %}
</form>
{% endmacro %}