{% extends "shelf-security/base.html" %}
{% from "shelf-security/_macros.html" import render_field_with_errors, render_field, render_errors, render_menu with context %}

{% block title %}CHANGE PASSWORD{% endblock %}

{% block form %}
  {{ change_password_form.hidden_tag() }}
  {{ render_field_with_errors(change_password_form.password, "lock", class="form-control", placeholder="Old password") }}
  {{ render_field_with_errors(change_password_form.new_password, "lock", class="form-control", placeholder="New password") }}
  {{ render_field_with_errors(change_password_form.new_password_confirm, "lock", class="form-control", placeholder="Confirm new password") }}
  {{ render_field(change_password_form.submit, class="btn btn-default") }}

  {{ render_menu("reset") }}

  {{ render_errors(change_password_form) }}
{% endblock %}