{% extends 'shelf-admin/master.html' %}
{% import 'shelf-admin/lib.html' as lib with context %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('admin.static', filename='select2/select2.css') }}" rel="stylesheet">
    <link href="{{ url_for('admin.static', filename='datetimepicker/bootstrap-datetimepicker.css') }}" rel="stylesheet">
    <link href="{{ url_for('shelf.static', filename='shelf-admin/css/bootstrap3-wysihtml5.min.css') }}"  rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="row" style="margin-top: 50px; background-color: #ffffff">
        <div class="col-xs-12" style="border-bottom: 1px solid #ddd; padding-top: 15px; padding-bottom: 15px; padding-left: 25px">
            {% block bodytitle %}<h1>{{ admin_view.name.upper() }}</h1>{% endblock %}
        </div>
        <div class="col-xs-12"  style="padding-bottom: 15px; padding-top: 25px;">
          {% call lib.form_tag(form) %}
              {{ lib.render_form_fields(form) }}
              {#{ lib.render_form_buttons(return_url, extra()) }#}
          {% endcall %}
        </div>
    </div>
{% endblock %}

{% block bottom %}
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                {% block bartitle %}<a class="navbar-brand" href="#">{{ admin_view.name }}</a>{% endblock %}
            </div>
            <div class="collapse navbar-collapse">
                {% block model_menu_bar %}
                <ul class="nav navbar-nav">
                  

                </ul>
                <ul class="nav navbar-nav navbar-right">
                  {% if admin_view.get_preview_url(model) %}
                  <li class="actions"><a href="{{ admin_view.get_preview_url(model) }}" target="new"><i class="fa fa-eye"></i>  {{ _gettext('Preview') }}</a></li>
                  {% endif %}
                  <li class="actions"><a role="submit" class="save-model" href="#"><i class="fa fa-check"></i>  {{ _gettext('Save') }}</a></li>
                  <li class="actions"><a role="submit" class="update-model" href="#"><i class="fa fa-refresh"></i>  {{ _gettext('Update') }}</a></li>                  
                  <li class="actions"><a href="{{ return_url }}"><i class="fa fa-times"></i> {{ _gettext('Cancel') }}</a></li>
                </ul>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block tail %}
  {{ super() }}
  <script src="{{ url_for('admin.static', filename='datetimepicker/bootstrap-datetimepicker.js') }}"></script>
  <script src="{{ url_for('admin.static', filename='admin/js/form.js') }}"></script>
  <script src="{{ url_for('shelf.static', filename='shelf-admin/js/wysihtml5-0.3.0.min.js') }}"></script>
  <script src="{{ url_for('shelf.static', filename='shelf-admin/js/bootstrap3-wysihtml5.all.min.js') }}"></script>
  <script src="{{ url_for('shelf.static', filename='shelf-admin/js/bootstrap3-wysihtml5.min.js') }}"></script>

  <script language="javascript">
        (function($) {
            $('a.save-model').click(function (e) {
                $("form.model-form").submit();
                e.stopPropagation();
            });
            $('a.update-model').click(function (e) {
                $('input[name=_continue_editing]').val('1');
                $("form.model-form").submit();
                e.stopPropagation();
            });
            $('.wysiwyg').wysihtml5({
                html: true,
            });          
        })(jQuery);
    </script>
{% endblock %}
