{% extends 'admin/base.html' %}
{% import 'shelf/base/layout.html' as layout with context -%}

{% block head_meta %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
{% endblock %}

{% block head_css %}
<link href="{{ url_for('shelf.static', filename='shelf/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
<link href="{{ url_for('admin.static', filename='admin/css/admin.css') }}" rel="stylesheet">
<link href="{{ url_for('shelf.static', filename='shelf/css/shelf.css') }}" rel="stylesheet">
{% if shelf_theme %}
<link href="{{ url_for('shelf.static', filename='{{ shelf_theme }}') }}" rel="stylesheet">
{% endif %}
{% endblock %}

{% block page_body %}
<div id="wrap">
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          {% block brand %}
          <img style="height: 38px" src="{{ url_for('shelf.static', filename='shelf/img/shelf_logo.png') }}" />
          {% endblock %}
        </a>
      </div>
      <div class="collapse navbar-collapse">
        {% block main_menu %}
        <ul class="nav navbar-nav">
          {{ layout.menu() }}
        </ul>
        {% endblock %}
        {% block menu_links %}
        <ul class="nav navbar-nav navbar-right">
          {{ layout.menu_links() }}
        </ul>
        {% endblock %}
        {% block access_control %}
        {% endblock %}
      </div>
    </div>
  </div>

  <div class="container">
    {% block body %}{% endblock %}
  </div>

  {% block messages %}
  {{ layout.messages() }}
  {% endblock %}

  {% set render_ctx = h.resolve_ctx() %}
</div>
{% endblock %}

{% block tail_js %}
<script src="https://code.jquery.com/jquery.js"></script>   
<script src="{{ url_for('shelf.static', filename='shelf/js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block tail %}
{% endblock %}
