<div class="picture widget">
	<img src="{{ args['data']['path'] }}" width="159" height="100" alt="{{ args['id'] }}"></img>
	<button class="btn btn-default modal-open" type="button">Select picture</button>
	<input type="hidden" name="{{ args['id'] }}" value="{{ args['data']['path'] }}">

	<!-- Modal -->
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-lg"></i></button>
					<h3>Choix de l'image source</h3>
				</div>
				<div class="modal-body">
				</div>
			</div>
		</div>
	</div>
</div>