.navbar-fixed-top {
  background-image: url(../img/patch_top_menu.png);
}

.navbar-fixed-top .navbar-collapse {
  background-color: #ffffff;
}

.navbar-fixed-top a.navbar-brand {
  background-color: #ff4262;
}

.navbar-fixed-top .navbar-brand:hover, 
.navbar-fixed-top .navbar-brand:focus {
  background-color: #ff4262 !important;
}

.navbar-fixed-top ul.nav > li.active
{
  border-bottom: 5px solid #ff4262;
}

.navbar,
.navbar-fixed-top ul.nav > li.active > a
{
  background-color: #ffffff !important;
}

.navbar-fixed-top ul.nav > li > a
{
  color: #494949 !important;
}

.navbar-fixed-top ul.nav > li > a:hover
{
  color: #8c8c8c !important;
}

/* Dropdown du haut */

.navbar-fixed-top ul.nav > li.open > a
{
  background-color: #494949 !important;
  color: #ffffff !important;
}

.navbar-fixed-top ul.nav > li.open > a:hover
{
  color: #ffffff !important;
}

.navbar-fixed-top ul.dropdown-menu
{
  background-color: #494949 !important;
  border-color: #444444;
}

.navbar-fixed-top ul.dropdown-menu > li.dropdown-header
{
  color: #a9a9a9 !important;
}

.navbar-fixed-top ul.dropdown-menu > li > a
{
  color: #ffffff !important;
}

.navbar-fixed-top ul.dropdown-menu > li > a:hover,
.navbar-fixed-top ul.dropdown-menu > li.active > a
{
  background-color: #494949;
  border-left: 5px solid #ff4262;
  margin-left: -3px;
}

.navbar-fixed-top ul.dropdown-menu > li.divider
{
  background-color: #444444 !important;
}

.navbar-fixed-top .navbar-right {
  background-color: #ffffff;
}

.navbar-fixed-top .navbar-right > li {
  background-color: #252525;
  border-bottom: 5px solid #252525;
}

.navbar-fixed-top ul.navbar-right > li > a {
  color: #ffffff !important;
}

.navbar-fixed-top ul.navbar-right > li > a:hover {
  color: #8c8c8c !important;
}

.navbar-fixed-top .navbar-right ul.dropdown-menu > li > a:hover,
.navbar-fixed-top .navbar-right ul.dropdown-menu > li.active > a
{
  border-right: 5px solid #ff4262;
  border-left: 0px none #ff4262;
}

.navbar-fixed-bottom {
  background-image: url(../img/patch_bottom_menu.jpg);
}

.navbar-fixed-bottom .navbar-collapse {
  background-color: #ff9d98;
}

.navbar-fixed-bottom a.navbar-brand {
  background-color: #ff4262;
  color: #ffffff;
}

.navbar-fixed-bottom .navbar-brand:hover, 
.navbar-fixed-bottom .navbar-brand:focus {
  background-color: #ff4262 !important;
  color: #ffffff !important;
}

.navbar-fixed-bottom ul.nav > li
{
  border-left: 1px solid #f8b5b2;
  background-color: #ef8580;
}

.navbar-fixed-bottom ul.nav > li:hover
{
  background-color: #feaaa5 !important;
}

.navbar-fixed-bottom ul.nav > li.open > a
{
  background-color: #ef8580 !important; 
}

.navbar-fixed-bottom ul.nav > li > a
{
  color: #ffffff !important;
}

.navbar-fixed-bottom ul.nav > li.open > a
{
  color: #ffffff !important;
}

.navbar-fixed-bottom ul.nav > li.open > a:hover
{
  color: #ffffff !important;
}

.navbar-fixed-bottom .dropdown-menu
{
  background-color: #ef8580 !important;
  border-bottom: 1px solid #f8b5b2 !important;
 }

.navbar-fixed-bottom .dropdown-menu > li:hover > a
{
  background-color: #feaaa5 !important;
}

.navbar-fixed-bottom .dropdown-menu > li.dropdown-header
{
  color: #ffffff !important;
}

.navbar-fixed-bottom .pagination-menu .btn
{
  background-color: #ff9d98 !important;
  border-color: #ffffff;
}

.navbar-fixed-bottom .pagination-menu .btn a
{
  color: #ffffff !important;
}

.navbar-fixed-bottom b
{
  color: #ffffff !important;
  border-top-color: #ffffff !important;
  border-bottom-color: #ffffff !important;
}

.navbar-fixed-bottom .dropdown-menu > li > a
{
  color: #ffffff !important;
}

.navbar-fixed-bottom .filter-menu .dropdown-menu li.active a
{
  background-color: #ff9d98;
}

.navbar-fixed-bottom .filter-menu .dropdown-menu a:hover
{
  background-color: #fbaba7;
}

.navbar-fixed-bottom .filter-menu .dropdown-menu li.active i
{
  display: inline-block;
}

#footer {
  background-color: #f5f5f5;
}

.model-list a
{
  color: #232323;
}

/* Progress */
.progress
{
  background-color: #f5f5f5;
}

/* Alertes */
.alert-success
{
  background-color: rgba(163, 217, 172, 0.9) !important;
  border: 0px none !important;
  color: #fff !important;
}

.alert-danger
{
  background-color: rgba(209, 64, 64, 0.9) !important;
  border: 0px none !important;
  color: #fff !important;
}

.has-error .form-control
{
  border-color: #d14040 !important;
}

/* bouton supprimer ligne de la liste */
form.icon button {
  background-color: red;
  background: transparent;
}

h1
{
  color: #4c4c4c;
}

.model-list th
{
  color: #4c4c4c;
}

.model-list td
{
  color: #232323;
}

.model-list tbody tr:hover
{
  background-color: #f4f4f4;
}

.model-list tbody tr.selected
{
  background-color: #fde6d5 !important;
}

.model-list tbody tr.selected td
{
  color: #ca9670 !important;
}

.model-list tbody tr.selected i
{
  color: #e5c4ac !important;
}

.model-list tbody tr.selected i:hover
{
  color: #ca9670 !important;
}

.model-list tbody tr.selected:hover
{
  background-color: #fddabe !important;
}

.model-list i
{
  color: #d2d2d2;
}

.model-list i:hover
{
  color: #4c4c4c;
}

.model-list th
{
  border-bottom: 1px solid #ddd !important;
}

.model-list a
{
  color: #4c4c4c;
}

.model-list a:hover
{
  color: #4c4c4c;
}

/* Edition */
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
  border-color: #ccc;
}

.input-group-addon
{
  background-color: #fff;
}

a {
  color: #ff4262;
}

a:hover {
  color: #ff4262;
}

.localized-editor iframe
{
  border: 1px solid #ccc !important;
}

/* Library */

.files a
{
  color: #232323;
}

.files a > div > i,
.files .icon i
{
  color: #d2d2d2 !important;
}

.files > div:hover > a,
.files > a:hover > span,
.files > div:hover > i,
.files > a:hover > i,
.files > div:hover > .caption > a,
.files .icon:hover i
{
  color: #4c4c4c !important;
}

.files > div.selected > a,
.files > a.selected > span,
.files > div.selected > i,
.files > a.selected > i,
.files > div.selected > .caption > a,
.files > .selected .icon i
{
  color: #e5c4ac !important;
}

.files > div.selected:hover > a,
.files > a.selected:hover > span,
.files > div.selected:hover > i,
.files > a.selected:hover > i,
.files > div.selected:hover > .caption > a,
.files > .selected .icon:hover i
{
  color: #ca9670 !important;
}

.files > div:hover,
.files > a:hover
{
  background: #f4f4f4;
}

.files > div.selected:hover,
.files > a.selected:hover
{
  background: #fddabe;
}

.files > div.selected,
.files > a.selected
{
  background: #fde6d5;
}

ul.nav-pills > li > a
{
  color: #ffffff;
}

ul.nav-pills > li:hover > a
{
  background-color: #feaaa5;
}

ul.nav > li.actions.publish > a {
  border-bottom: 5px solid #4e66d8 !important;
}

ul.nav > li.actions.review > a {
  border-bottom: 5px solid #959dcc !important;
}

ul.nav > li.actions.draft > a {
  border-bottom: 5px solid #d6d1c0 !important;
}

.navbar-right .dropdown-menu .actions a {
  float: right;
}