* {
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 300 !important;
	border-radius: 0 !important;
}

input[type=password] {
	margin-top: 2px !important;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
  border-color: #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.4);
  outline: 0 none;
}

button {
	margin-top: 10px !important;
	background-color: #ff4262 !important;
	color: #fff !important;
	border: 0px none !important;	
}
