/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
  background-image: url(../img/geometry.png);
}

/* Top navbar */

.navbar-fixed-top {
  background-image: url(../img/patch_top_menu.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  border: 0px none;
}

.navbar-fixed-top .navbar-collapse {
  background-color: #ffffff;
}



.navbar-fixed-top a.navbar-brand {
  padding-top: 10px; 
  padding-bottom: 7px; 
  padding-left: 50px; 
  padding-right: 30px; 
  background-color: #ff4262;
}

.navbar-fixed-top .navbar-brand:hover, 
.navbar-fixed-top .navbar-brand:focus {
  background-color: #ff4262 !important;
}

.navbar-fixed-top ul.nav {
  padding-left: 15px !important;
}

.navbar-fixed-top ul.nav > li.active
{
  border-bottom: 5px solid #ff4262;
}

.navbar,
.navbar-fixed-top ul.nav > li.active > a
{
  background-color: #ffffff !important;
}

.navbar-fixed-top ul.nav > li > a
{
  height: 50px;
  color: #494949 !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.navbar-fixed-top ul.nav > li > a:hover
{
  color: #8c8c8c !important;
}

/* Dropdown du haut */

.navbar-fixed-top ul.nav > li.open > a
{
  background-color: #494949 !important;
  color: #ffffff !important;
}

.navbar-fixed-top ul.nav > li.open > a:hover
{
  color: #ffffff !important;
}

.navbar-fixed-top ul.dropdown-menu
{
  background-color: #494949 !important;
  border-color: #444444;
}

.navbar-fixed-top ul.dropdown-menu > li.dropdown-header
{
  color: #a9a9a9 !important;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.navbar-fixed-top ul.dropdown-menu > li > a
{
  color: #ffffff !important;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.navbar-fixed-top ul.dropdown-menu > li > a:hover,
.navbar-fixed-top ul.dropdown-menu > li.active > a
{
  background-color: #494949;
  border-left: 5px solid #ff4262;
  margin-left: -3px;
}

.navbar-fixed-top ul.dropdown-menu > li.divider
{
  background-color: #444444 !important;
}

.navbar-fixed-top .navbar-right {
  background-color: #ffffff;
}

.navbar-fixed-top .navbar-right > li {
  background-color: #252525;
  border-bottom: 5px solid #252525;

}

.navbar-fixed-top ul.navbar-right > li > a {
  color: #ffffff !important;
  font-family: 'Open Sans', sans-serif;
}

.navbar-fixed-top ul.navbar-right > li > a:hover {
  color: #8c8c8c !important;
}

.navbar-fixed-top .navbar-right ul.dropdown-menu > li
{
  float: right;
}

.navbar-fixed-top .navbar-right ul.dropdown-menu > li > a:hover,
.navbar-fixed-top .navbar-right ul.dropdown-menu > li.active > a
{
  border-right: 5px solid #ff4262;
  border-left: 0px none #ff4262;
  margin-left: 0px;
  margin-right: -4px;
}

/* Bottom Navbar */

.navbar-fixed-bottom {
  background-image: url(../img/patch_bottom_menu.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  border: 0px none;
}

.navbar-fixed-bottom .navbar-collapse {
  background-color: #ff9d98;
}

.navbar-fixed-bottom a.navbar-brand {
  background-color: #ff4262;
  font-size: 14px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

.navbar-fixed-bottom .navbar-brand:hover, 
.navbar-fixed-bottom .navbar-brand:focus {
  background-color: #ff4262 !important;
  color: #ffffff !important;
  font-size: 14px;
}

.navbar-fixed-bottom ul.nav > li
{
  border-right: 1px solid #f8b5b2;
}

.navbar-fixed-bottom ul.nav > li > a
{
  color: #ffffff !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.navbar-fixed-bottom ul.nav > li.actions > a
{
  background-color: #ef8580;
}

.navbar-fixed-bottom ul.nav > li > a:hover
{
  background-color: #feaaa5 !important;
}

.navbar-fixed-bottom ul.nav > li.open > a
{
  background-color: #feaaa5 !important;
  color: #ffffff !important;
}

.navbar-fixed-bottom ul.nav > li.open > a:hover
{
  color: #ffffff !important;
}

.navbar-fixed-bottom .dropdown-menu
{
  background-color: #ff9d98 !important;
  border: 0px none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  margin-bottom: 0px !important;
  border-bottom: 1px solid #f8b5b2 !important;
}

.navbar-fixed-bottom .dropdown-menu > li.dropdown-header
{
  color: #ffffff !important;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.navbar-fixed-bottom .pagination-menu .btn
{
  background-color: #ff9d98 !important;
  border-color: #ffffff;
}

.navbar-fixed-bottom .pagination-menu .btn a
{
  color: #ffffff !important;
}

.navbar-fixed-bottom b
{
  color: #ffffff !important;
  border-top-color: #ffffff !important;
  border-bottom-color: #ffffff !important;
}

.navbar-fixed-bottom .dropdown-menu > li > a
{
  color: #ffffff !important;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.navbar-fixed-bottom .filter-menu .dropdown-menu i
{
  display: none;
}

.navbar-fixed-bottom .filter-menu .dropdown-menu li.active a
{
  background-color: #ff9d98;
}

.navbar-fixed-bottom .filter-menu .dropdown-menu a:hover
{
  background-color: #fbaba7;
}

.navbar-fixed-bottom .filter-menu .dropdown-menu li.active i
{
  display: inline-block;
}

/*.navbar-fixed-bottom .pagination-menu {
  width: 100%;
}

.navbar-fixed-bottom .pagination-menu .btn-group {
  width: 100%;
}*/

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

/* Model list */

.model-list a
{
  color: #232323;
}

/* bouton supprimer ligne de la liste */
form.icon button {
  background-color: red;
  border-width: 0px;
  border-style: none;
  padding: 0px;
  background: transparent;
}

form.icon {
  display: inline-block;
  padding-left: 5px;
}

a.icon {
  display: inline-block;
}

h1
{
  color: #4c4c4c;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 48px;
}

.model-list th
{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #4c4c4c;
}

.model-list td
{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #232323;
}

.model-list tbody tr:hover
{
  background-color: #f4f4f4;
}

.model-list tbody tr.selected
{
  background-color: #fde6d5 !important;
}

.model-list tbody tr.selected td
{
  color: #ca9670 !important;
}

.model-list tbody tr.selected i
{
  color: #e5c4ac !important;
}

.model-list tbody tr.selected i:hover
{
  color: #ca9670 !important;
}

.model-list tbody tr.selected:hover
{
  background-color: #fddabe !important;
}

.model-list i
{
  color: #d2d2d2;
}

.model-list i:hover
{
  color: #4c4c4c;
}

.model-list th
{
  border-bottom: 1px solid #ddd !important;
}

td.center, th.center
{
  text-align: center;
}

.model-list a
{
  color: #4c4c4c;
  font-size: 16px;
}

.model-list a:hover
{
  color: #4c4c4c;
}

/* Edition */

label
{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
}

input
{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

option
{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

a {
  color: #ff4262;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

a:hover {
  color: #ff4262;
}

.localized-editor iframe
{
  width: 100% !important;
  height: 300px !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
}

/* Bibliotheque */

.files a
{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #232323;
}

.files > div:hover
{
  background: #f4f4f4;
}

.files > div.selected
{
  background: #fde6d5;
}

.files a:link 
{ 
  text-decoration:none; 
} 

.files .icon i
{
  color: #d2d2d2;
}

.files .selected .icon i
{
  color: #f1d4bf;
}

.files .selected .icon i:hover
{
  color: #ca9670;
}

.files > div .icon
{
  display: none;
}

.files > div:hover .icon
{
  display: block;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}